body{
  background-color: #d8806a;
  font-family: sans-serif;
}

.intro{
  color: #ffffff;
}

.intro{
  text-align: center;
}

.intro h1{
  font-size: 29px;
}

#header{
  background-color: #9BA0EA;
  padding-bottom: 2.5%;
  margin: 2.5%;
  padding-top: 1%;
  border: 3%;
  border-color: #ffffff;
  border-style: solid;
}

.theo{
  height: 200px;
  padding-left: 0%;
  padding-top: 1%;
  float:left;
  margin-right: 10px;
}

.content{
  display:flex;
  color: #ffffff;
  border: 10px;
}

.about{
  flex: 2;
  order: 1;
  text-align: justify;
  color: #3e5de8;
  font-size: 19px;
  /*font-weight: bold;*/
  opacity: 0.8;
  padding: 3%;
  padding-top: 0.3%;
  border: 3%;
  border-color: #ffffff;
  border-style: solid;
}

.projects{
  flex: 1;
  order: 3;
  padding-left: 20px;
  border: 3%
  border-color: #ffffff;
  border-style: solid;
  margin-left: 5px;
}

/*.pics{
  flex: 1;
  order: 1;
  padding-right: 2%;

}*/
.abouth3 {
  text-align: center;
}

/*.webdev {
  display:flex;
  justify-content: center;
}*/

li{
  list-style-type: georgian;
}

#footer{
  border: 3%
  border-color: #ffffff;
  border-style: solid;
  margin: 10px;
  background-color: #898487;
  height: 60px;
}

footer p{
  color: #ffffff;
}
